{%- comment -%}

	Unpacks section blocks.

	Block ettings are further unpacked by settings-object
	(@see snippets/settings-objects.liquid)

{%- endcomment -%}
[
  {%- for block in section.blocks -%}
    {
      type: {{ block.type | json }},
      settings: {% include 'settings-object' settings: block.settings %}
    },
  {%- endfor -%}
]