{%- comment -%}

  Unpacks a collection by handle.

{%- endcomment -%}
{%- assign c = _collection -%}
{%- if c -%}
{
	all_tags: {{ c.all_tags | json }},
	default_sort_by: {{ c.default_sort_by | json }},
	description: {{ c.description | json }},
	handle: {{ c.handle | json }},
	id: {{ c.id | json }},
	image: '{{ c.image }}',
	products: {{ c.products | json }},
	products_count: {{ c.products_count | json }},
	sort_by: {{ c.sort_by | json }},
	template_suffix: {{ c.template_suffix | json }},
	title: {{ c.title | json }},
	tags: {{ c.tags | json }},
	url: '{{ c.url }}',
}
{%- else -%}
{}
{%- endif -%}