{%- comment -%}

  Unpacks a menu (linklist) given the
  links attribute.

  Used recursively to unpack child menus.

{%- endcomment -%}
[
	{%- for link in links -%}
		{%- assign child_count = link.links | size -%}
		{
			title: '{{ link.title }}',
			url: '{{ link.url }}',
			{%- if child_count > 0 -%}
				children: {% include 'menu-object' links: link.links %},
			{%- endif -%}
		},
	{%- endfor -%}
]