{%- comment -%}

  Unpacks a product by handle.

{%- endcomment -%}
Object.assign(
	{{ all_products[ handle ] | json }},
	{ options_with_values: {{ all_products[ handle ].options_with_values | json }} },
)