{%- comment -%}

  Unpacks a section.

{%- endcomment -%}
<script>
  window.theme.sections.push( {
    id: {{ section.id | json }},
    name: '{{ name | default: section.id }}',
    settings: {% include 'settings-object' settings: section.settings %},
    blocks: {% include 'blocks-object' blocks: section.blocks %},
  } );
</script>

{%- comment -%}
	
	Unpack main view object if this section is 
	the template section.

	For example, the "collection" templates uses a
	"collection" section. If this section is the
	"collection" section, unpack view object (the
	collection) and supporting objects (like pagination).

{%- endcomment -%}
{%- if template.name == section.id -%}
<script>
	{%- if section.id == 'collection' or section.id == 'search' -%}
		{%- assign page_size = section.settings.page_size | default: 20 -%}
		{%- paginate collection.products by page_size -%}
			window.theme.view.object = {% include 'view-object' %};
			window.theme.view.pagination = {% include 'pagination-object' %};
		{%- endpaginate -%}
	{%- else -%}
		window.theme.view.object = {% include 'view-object' %};
	{%- endif -%}
</script>
{%- endif -%}