{%- comment -%}

  Unpacks settings.

  Object referenced by handle (i.e products, collections, etc.)
  are replaced by the actual object.

{%- endcomment -%}
{
  {%- for setting in settings -%}
        
    {%- if setting == 'product' -%}
      {%- assign handle = settings[ setting ] -%}
      {{ setting | json }}: {% include 'product-object' handle: handle %},
    
    {%- elsif setting == 'collection' -%}
      {%- assign _collection = collections[ settings[ setting ] ] -%}
      {{ setting | json }}: {% include 'collection-object' _collection: _collection %},

    {%- elsif setting == 'menu' -%}
      {%- assign links = linklists[ settings[ setting ] ].links -%}
      {{ setting | json }}: {% include 'menu-object' links: links %},

    {%- else -%}
      {{ setting | json }}: {{ settings[ setting ] | json }},
    {%- endif -%}

  {%- endfor -%}
}