{%- comment -%}

  Unpacks a shop object.

{%- endcomment -%}
{
	name: {{ shop.name | json }},
	currency: {{ shop.currency | json }},
	description: {{ shop.description | json }},
	domain: {{ shop.domain | json }},
	permanent_domain: {{ shop.permanent_domain | json }},
	url: {{ shop.url | json }},
	secure_url: {{ shop.secure_url | json }},
	locale: {{ shop.locale | json }},
}