{%- comment -%}

  Unpacks the object of the current view.
  
  i.e: product if current view is of a product, 
  collection if current view is of a collection, etc.

{%- endcomment -%}
Object.assign(
	{%- if template.name == 'product' -%}
		{ object_type: 'product' },
		{%- assign handle = product.handle -%}
		{% include 'product-object' handle: handle %}
	{%- elsif template.name == 'collection' -%}
		{ object_type: 'collection' },
		{% include 'collection-object' _collection: collection  %}
	{%- elsif template.name == 'list-collections' -%}
		{ object_type: 'collection-list' },
		{}
	{%- elsif template.name == 'search' -%}
		{ object_type: 'search' },
		{% include 'search-object' %}
	{%- elsif template.name == 'article' -%}
		{ object_type: 'article' },
		{}
	{%- elsif template.name == 'page' -%}
		{ object_type: 'page' },
		{}
	{%- elsif template.name == 'blog' -%}
		{ object_type: 'blog' },
		{}
	{%- else -%}
		{}
	{%- endif -%}
)