{% schema %}
{
	"name": "Collection",
	"settings": [
		{
			"type": "header",
			"content": "Pagination"
		},
		{
			"type": "number",
			"id": "page_size",
			"label": "Page size",
			"info": "Amount of results shown per page. Results are paginated.",
			"default": 20
		}
	]
}
{% endschema %}

{% include 'section-object' %}