{% schema %}
  {
    "name": "Icons list",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Icons list"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "rgba(234,213,199,0.5)"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Icon",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Icon with text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Icons list",
        "category": "Collection",
        "blocks": []
      }
    ]
  }
{% endschema %}

{% include 'section-object', name: "Icons list" %}
