<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">

  <title>{{ shop.name }}</title>

  <meta name="description" content="">

  {% include 'style-tags', layout: 'theme' %}
  {% include 'script-tags', layout: 'theme' %}

  {{ content_for_header }}
</head>

<body>

  {{ sections }}

  {%- comment -%}

    React mounting point here.

  {%- endcomment -%}
  <div id="root">

    {%- comment -%}

      React store theme data init is declared here.
    
    {%- endcomment -%}
    <script>
      window.theme = {
        shop: {% include 'shop-object' %},
        strings: {},
        cart: {{ cart | json }},
        settings: {{ settings | json }},
        view: {
            template: {% include 'template-object' %},
          },
        sections: [],
      }
    </script>


  </div>
  
  <div style="display: none">
    {% section 'header' %}
    {{ content_for_layout }}
    {% section 'footer' %}
  </div>

</body>
</html>
